.ap{background: #191ea2;padding-bottom: 6px; color: white;font-weight: bold;font-size: 20px;
    margin: auto;margin-top: 2%;}
.spa1 ,.spa2 ,.spa3{text-align: center;display: inline-block;position: relative;margin-right: 10px;width: 6%;}

.ap2{background: white;color: #191ea2;padding: 5px;}
p{text-align: center;}
